*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #e5e5e5;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.screen{
    position: relative; 
    background-color: white;
    border-radius: 50px;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    width: 65%;
    height: 93%;
    display: flex;
    font-size: 0.99em;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*Left side*/
.leftScreen{
    width: 50%;
    height: 100%;
}

.liquidBanner{
    position: relative;
    width: 100%;
    height: 75%;
}

#pentagono{
    position: relative;
    width: 120%;
    top: -20%;
    left: -35%;
}

.toHide{
    position: absolute;
    width: 100%;
    height: 110%;
    top:0;
    left: 0;
    box-sizing:content-box;
    border-top-left-radius: 40px;
    box-shadow: -3px -200px 1px 1px #e5e5e5;
    
}
.toHides{ box-shadow: -200px -3px 1px 1px #e5e5e5;}

.toHidet{ box-shadow: -200px -200px 1px 1px #e5e5e5;}

.liquidBanner > .toHide > .textBanner {
    position: absolute;
    top: 0;
    margin-left: 25%;
    margin-top: 25%;
}

.liquidBanner > .toHide > .textBanner > h2{
    color: white;
    font-size: 5rem;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.liquidBanner #decoration02{
    position: absolute;
    width: 20px;
    top: 55px;
    left: 94px;

}

.liquidBanner #decoration01{
    position: absolute;
    width: 80px;
    top: 290px;
    left: 70px;

}


.categories{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin: 50px;
}

.categories button{ 
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 17px;
    border: none;

}

.categories button img{
    width: 18px;

}

.categories hr{
    width: 18px;
    height: 1px;
    margin: 10px;
    border: 0;
    background-color: rgb(141, 141, 141);

}
.categories  #selectedB{
    background-color: #dee0e4;
}



/* Right side */
.rightScreen{
    height: 100%;
    width: 50%;
    font-size: 0.95rem;
}

.containBlocks{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px
}

.containBlocks #titleRight{
    font-size: 2.1rem;

}
.containBlocks .label{
    display: flex;
    justify-content: space-between;
}

.containBlocks .label > p{
    font-size: 0.8em;
}

.products{
    display: flex;
    flex-direction: column;
}
.item{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item .nameTag{
    min-width: 110px;
    
}
.item .size{
    margin-right: 30px;
}

.item > img{
    width: 60px;
    margin-right: 30px;
    margin-bottom: 47px;
}

.item button{
    border: 0;
    background-color: white;
}

.item button > img{
    width: 16px;
}


/* Profile icon */
.profile{
    position: absolute;
    right: 0;
    top: 0;

}

.profileIcon{
    width: 40px;
    margin: 50px;
}
.actionChange{
    position: absolute;
    right: 10px;
    bottom: 1px;
}

.actionButton{
    width: 57px;
    margin: 50px;
}


